body{
  padding: 0;
  margin: 0;
  
}
.mj{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 140px;
  background-color: #036;
  padding: 0;
  margin: 0;
}
.mj h2{
  text-align: center;
  color: aliceblue;
  transform: rotate(4deg);
  margin-top: 30px;
}
.num{
  width: 100%;
  height: 80px;
  background-color: #0266b6;
   text-align: center; 
}
.num span{
  font-weight: 100;
  font-size: 1.6rem;
  color: #fff;
   
}
/* foto */
.fot{
  width: 100%;
  height: 260px;
  background-image: url(https://lagunalawnservice.com/img/galeria12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
 
}
/* foto */
.header{
  background-color: #299684;
}
.header ul{
  position: relative;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  margin: 0;

}
li{
  float: left;
}
li a{
  text-decoration: none;
  color: #036;
  font-size: 1.6rem;
  padding: 16px 16px;
  display: block;
}
li a:hover{
  transition: all 1s;
  background-color: #fff;
  color: #036;
  border-bottom: 3px solid #299684;
}