 body{
  background-color: rgb(191, 244, 191);
  position: relative;
  margin-left: 0;
  margin-right: 0;
 
}
#caj{
  background-color:#0366d6;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
 
}
h1{
  color: #fff;
  letter-spacing: 3px;
  padding: 10px 10px;
  text-align: center;
}
#caj1{
  position: relative;
  overflow: hidden;
  background-color: #53f486;
   width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
   
}
h2{
  color: #154256;
letter-spacing: 3px;
  padding: 10px 10px;
  text-align: center;
  font-weight:bold;
}
#caj2{
  background-color: #154256;
  position: relative;
  border-radius: 0.4rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
p{
  padding: 20px 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#caj3{
   width: 90%;
   height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
}
#caj3 img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 0.4rem;
}
.pie{
  width: 100%;
  height: 120px;
  background-color: #04aa6d;
  margin-top: 60px;
  margin-bottom: 0;
  text-align: center;
}
.pie p{
  color: rgb(10, 15, 15);
  font-weight: 800;
}
.pie span{
  color: #154256;
  text-align: center;
}